@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Space+Grotesk&display=swap');
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v92/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 100px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
body {
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    background: rgb(13 14 26);
    position: relative;
    margin: 0;
}
h1, h2, h3, p{
    margin: 0;
    padding: 0rem 0rem;
}

hr.rounded  {
    display: inline-block;
    position:left;
    margin: 1.5rem;
    width: 97%;
    opacity: 60%;
    
}

#yoProgramo {
    font-size: 0.7rem;
}
.uppheader {
    position:relative;   
    height:20rem;
    max-height:20rem;
    padding : 0.6rem 1rem 0rem;  
    color: #e5e5ff;
    display: flex;
    align-items: top;
    justify-content: space-between;    
    opacity: 100%;
}

.uppheader:before {
    position:absolute;
    display: block;
    content: ' ';
    background-image: url("img/meduses.jpg");
    left: 0;
    top: 0;
    width: 100%;
    height: 20rem;
    opacity: 0.6;    
    height: 20rem;
    max-height: 20rem;
    
}
.content {
    position:relative;
    font-size: 1rem;
}
.icons {
    display:flex;
    position:relative;
    gap: 0.5rem;
    padding:0.3rem;
}
.purple {
    position: absolute;
    background: #3e3e6a;
    height: 3.5rem;
    min-width: 100%;
    
}
.container {
    padding: 1rem 1rem;
    color: #e5e5ff;
    border-radius: 0.5rem;
    margin: 0.5rem;
} 
.container > div {
    padding-bottom: 1rem;
}
.top-container {
    padding: 0.5rem 1rem;
    color: #e5e5ff;
    border-radius: 0.5rem;
    margin: 1rem;
} 
.aboutme {
    display:flex;
    justify-content: space-between;
    gap: 3rem;
}
.bme {
    width: 70%;
    margin-top: 0.48rem;
}
.light-box {
    background-color: rgb(231, 231, 255,0.1);
    max-width: 100%;
    min-height: 3.5rem;
    margin:0rem 0rem;
    padding:1rem;
    /* border-radius: 0.5rem; tengo que separar los divs estos y poner uno grande q los agrupe*/
    display:flex;
    align-items: center;
}
.title {
    width: 30%;
}
.title-sm {
    width: 20%;
}
.skills-box {
    background-color: rgb(231, 231, 255,0.1);
    min-height: 3.5rem;
    padding:2rem;
    /* border-radius: 0.5rem; tengo que separar los divs estos y poner uno grande q los agrupe*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 3;
}
.skills-cage {
    flex-grow: 3;
    margin: 1rem 1rem 1rem 0rem;
    max-width: 70%;
}

.percentage  {
    background-color: rgb(92, 90, 144);
    height:15px;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    color: #e5e5ff;
    z-index: 3;   
    width: 100%;
}
.percentage.cuarenta:before {
    display: block;    
    background: #e5e5ff;
    content: ' ';
    border-radius: 1rem;
    height:15px;
    width:40%;
}

.percentage.setenta:before {
    display: block;    
    background: #e5e5ff;
    content: ' ';
    border-radius: 1rem;
    height:15px;
    width:70%;
}
.percentage.treinta:before {
    display: block;    
    
    background: #e5e5ff;
    content: ' ';
    border-radius: 1rem;
    height:15px;
    width:30%;
}

.skills-container {
    display: flex;
    justify-content: left;
    padding: 0;
}
.order2 {
    flex-grow: 1;
    padding: 0;
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}